:root {
    --background: #99BBB7;
    --text: #214761;
  }

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
  }

/***************************************
Top name section with links 
****************************************/
.header {
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    background-color: var(--background);
    color: var(--text);
    align-items: center;
    margin-bottom: -1%;
    margin-top: -2%;
  }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 7%;
  }

nav a {
    background-color: unset;
    color: var(--text);
    font-weight: bold;
    margin-left: 2%;    
  }

h1 {
    font-size: 175%;
    margin-top: 5%;
  }
h2 {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    width: 100%;
    color: var(--text);
    font-size: 150%;
    line-height: 80px;
    margin: 0%;
  }

.li-top-row {
    padding: 2%;   
  }

/**********************************************
 About Me and My Work section
***********************************************/
h3 {
    box-sizing: border-box;  
    float: left;
    margin-right: 1%;
    padding: 2%;
    width: 200px;
    min-width: 200px;
    font-size: 40px;
    border-right: 4px solid #214761;
    text-align: right;
    color: #214761;
    font-family: fantasy, sans-serif;
  }

h4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    padding-bottom: 0%;
    width: 100%;
    font-size: 100%;
    line-height: 80px;
    color: white;
    position: relative;
    top: 65%;
    margin-bottom: -5%;
}

h5 {
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    width: 100%;
    font-size: 100%;
    line-height: 80px;
    color: white; 
    margin-bottom: 0%;
    padding-bottom: 0%;
}

p {
    margin-right: 5%;
    color: var(--text);
    font-size: small;
  }

.container1 {
    display: flex;
    width: 100%;
}

.container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    font-size: x-large;
    justify-content: flex-end;
}

.box1 {
    width: 100%;
    height: 60%;
    padding: 2px;
    background-image: url(https://images.pexels.com/photos/287005/pexels-photo-287005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.box2 {
    width: 48%;
    height: 20%;
    padding: 2px;
    margin-top: 2%;
    margin-right: 2%;
}

.box3 {
    width: 48%;
    height: 20%;
    padding: 2px;
    margin-top: 2%;
    margin-left: 2%;
}

.box4 {
    width: 48%;
    height: 20%;
    padding: 2px;
    margin-top: 2%;
    margin-right: 2%;
}

.project2-image {
    background-image: url(https://images.pexels.com/photos/1624438/pexels-photo-1624438.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); 
    background-size: cover;
}

.project3-image {
    background-image: url(https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
    background-size: cover;
}

.project4-image {
    background-image: url(https://images.pexels.com/photos/4215113/pexels-photo-4215113.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); 
    background-size: cover;
}

.project5-image {
    background-image: url(https://images.pexels.com/photos/927414/pexels-photo-927414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
    background-size: cover;
}

/***************************************************** Contact Me section 
******************************************************/
.footer {
    display: flex;
    justify-content: space-between;
    color: var(--light);
    align-items: center;
    margin-bottom: 1%;
    margin-top: 5%;
  }
 
.li-bottom-row {
    padding: 2%;
    justify-content: space-between;
    font-size: smaller;
  }
/***************************************
Media section 
****************************************/  
@media screen and (max-width: 768px) {
    header, nav, footer {
      flex-direction: column;
    }
  }

@media screen and (min-width: 992px) {
    header, nav, footer {
      width: 100%;
    }
  }
  
 
 