:root {
    --background: #99BBB7;
    --light: #fff;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    background-color: var(--background);
    color: var(--light);
    align-items: center;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    background-color: unset;
    color: var(--light);
    font-weight: bold;
    margin-left: 2%;

}
h1 {
    font-size: 200%;
}
div h2 {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    width: 100%;
    color: var(--light);
    background-image: 'url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/1a/97/34.jpg")';
    /*background-color: cadetblue;*/
    font-size: 150%;
    line-height: 100px;
    margin: 0%;
}
@media screen and (max-width: 768px) {
    header, nav {
      flex-direction: column;
    }
}
  
 .li-top-row {
   padding: 2%;   
 }