:root {
    --dark: #214761;
    --light: white;
  }

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
  }

.nobr {
  white-space: nowrap;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: unset;
}

/***************************************
 * Header section with stuff about me 
 ***************************************/
.header {
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    background-color: var(--dark);
    color: var(--light);
    align-items: center;
    margin-bottom: -1%;
    margin-top: -2%;
  }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 7%;
  }

.upperNav {
    background-color: unset;
    color: var(--light);
    font-weight: bold;
    margin-left: 5%;
    font-family: fantasy, sans-serif; 
    padding: 0%;   
  }

.bottomNav {
    background-color: unset;
    color: var(--light);
    font-weight: bold;
    margin-left: 5%; 
    font-family: fantasy, sans-serif; 
}


h1 {
    font-size: 175%;
    margin-top: 5%;
    color: var(--light);
    font-family: fantasy, sans-serif;
  }

/***************************************
 * Main top section with my photo
 ***************************************/

h2 {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    width: 100%;
    color: var(--dark);
    font-size: 150%;
    line-height: 80px;
    margin: 0%;
    color: var--(light);
    font-family: fantasy, sans-serif;
    position: relative;
    top: 32px;
  }

img {
    height: 115px;
    margin: 10px;
}

/**********************************************
 * About Me and My Work section
 **********************************************/
h3 {
    box-sizing: border-box;  
    float: center;
    margin-right: 1%;
    padding: 2%;
    width: 200px;
    min-width: 200px;
    font-size: 40px;
    text-align: right;
    color: var(--dark);
    font-family: fantasy, sans-serif;
  }

.solidLeftBorderLine {
  border-left: 4px solid var(--dark);
  padding-left: 15px;
  width: 100%;
}

.projectTitle1 {
  background-color: var(--dark);
  font-family: fantasy, sans-serif;
  width: fit-content;
  position: relative;
  top: 86%;
  margin-left: -6px;
  padding: 6px;
}

.projectTitle2 {
  background-color: var(--dark);
  font-family: fantasy, sans-serif;
  width: fit-content;
  position: relative;
  top: 73%;
  margin-left: -6px;
  padding: 4px;
}

p {
    margin-right: 5%;
    color: var(--dark);
    font-size: medium;
  }

.container1 {
    display: flex;
    width: 100%;
}

.cursorAndBorder {
    cursor: pointer;
    border: 5px solid #015482;
}

.project1-image {
    flex: auto;
    background-image: url('KidsCornerProject.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.project2-image {
    background-image: url('WeatherDashboard.gif'); 
    background-size: cover;
}

.project3-image {
    background-image: url('TimedCodeQuiz.png'); 
    background-size: cover;
}

.project4-image {
    background-image: url(https://images.pexels.com/photos/4215113/pexels-photo-4215113.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); 
    background-size: cover;
}

.project5-image {
    background-image: url(https://images.pexels.com/photos/927414/pexels-photo-927414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
    background-size: cover;
}

/***************************************
 * Contact Me footer section 
 ***************************************/
 
.li-bottom-row {
    padding: 2%;
    font-size: medium;
    color: var(--dark);
  }
/***************************************
 * Media section 
 ***************************************/  
@media screen and (max-width: 576px) {
    header, nav, main, footer {
      width: 100%;
      flex-direction: column;
    }
  }

@media screen and (max-width: 768px) {
    header, nav, main, footer {
      flex-direction: column;
      width: 100%;
    }
  }

@media screen and (min-width: 992px) {
    header, nav, main, footer {
      width: 100%;
    }
  }
